<div class="container-fluid" style="height:680px;background-color:#ecf4f9;;wigth:100%;">
       <section id="section1">
           <div id="div1">
                 <header>
                      <h1 class="h1"> Log In Here</h1>
                 </header>
                 <form name="myForm"  data-ng-app="" novalidation>
                    <h3 class="h3">Email<br>
                        <input type="email" placeholder="eg., monusainioneworld@gmail.com" name="email" data-ng-model="email" required class="form-control" >
                        <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                           <span ng-show="myForm.email.$error.required">Email is required.</span>
                           <span ng-show="myForm.email.$error.email">Invalid email address.</span>
                        </span>
                   </h3>
                   <h3 class="h3">Password<br>
                        <input type="password"  name="pass" placeholder="eg. *******" data-ng-model="pass"  required class="form-control">
                        <span style="color:red" data-ng-show="myForm.pass.$dirty && myForm.pass.$invalid">
                            <span data-ng-show="myForm.pass.$error.required">Password is required.</span>
                        </span>    
                   </h3 class="h3">
                   <input type="button"  value="Log In" id="button1" ng-click="find()" class="input_box"/>
                   <p style="color:#999"> Don’t have an account?<a class="a" ui-sref="register">Create an account.
                   </a></p>
                   <p style="color:#999;cursor:pointer;display:inline;" ng-click="forgotpassword()"><a class="a">  Forgot your password?</a></p>
               </form>
            </div>
       </section>
</div>
<!--<section class="container-fluid" style="height:700px;background-color:red;wigth:100%;">
      <div style=" margin:80px auto;background-color:green;height:200px;width:200px">
        
      </div>
  
</section>-->
