 <div id="namediv" ng-show="na" ng-init="na=false" >
    <h5 class="h3class" ng-click="show_Profile()"><li style="list-style-type:none">  My Profile</li></h5>
   <h5  class="h3class"  ng-click="change_Password()"><li style="list-style-type:none">Change Password</li></h5>
    <hr style="margin-top:10px;margin-bottom:10px">
    <h5 class="h3class" ng-click="show_Not_team_member()"><li style="list-style-type:none">Team Directory</li></h5>
    <hr style="margin-top:10px;margin-bottom:10px">
    <h5  class="h3class" ng-click="logout()"><li style="list-style-type:none">Logout</li></h5>
 </div>	